.a{
   text-decoration: none;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.primary-menu{
    background-color: rgb(15, 120, 15);

}

.primary-menu ul{
    list-style: none;
}

.primary-menu ul li{
    display: inline-block;
}

.primary-menu ul li a{
    display: block;
    padding:5px 15px;
    color: #fff;
    text-transform: uppercase;

}

.primary-menu ul li+li a{
    border-left: 1px solid bisque;
}

.primary-menu ul li a:hover{
    background-color: red;
}