
body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: sans-serif;
}


.my-table {
    border-collapse: collapse;
    width: 450px;
    background: white;
    border: 1px solid #333;
}


.header-cell {
    background-color: #ff0000;
    color: black;
    text-align: left;
    padding: 15px;
}

.header-cell h1 {
    margin: 0;
    font-size: 32px;
}

/* Các ô nội dung */
td {
    border: 1px solid #333;
    padding: 10px;
}


.label {
    background-color: #f9f9f9;
    font-weight: bold;
    width: 35%;
}


input[type="text"], input[type="password"], select {
    width: 90%;
    padding: 5px;
}


.button-row {
    background-color: #eeeeee;
    padding: 10px;
}

.btn {
    padding: 5px 15px;
    border: 1px solid #333;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}


.btn-blue { background-color: #e1f5fe; }
.btn-gray { background-color: #f5f5f5; }
.btn-red { background-color: #ffebee; }

.btn:hover {
    filter: brightness(0.9); 
}