.form-wrapper h2{
    border-bottom: 2px  solid red;
}

.form-wrapper h2 span{
    border: 2px dashed green;
    border-bottom: 2px solid green;
}

.form-wrapper table label{
    font-weight: bold;
    font-size: italic;
}

.form-wrapper form{
    background: rgb(84, 53, 141);
}

.form-wrapper table input{
    background: rgb(119, 65, 103);
    border: 1px solid red;
    width: 70%;
}

.form-wrapper table .btn-wrap{
    border-top:1px solid green;
    text-align: centers;
}

.form-wrapper table .btn-wrap button{
    background: green;
    color: #fff;
    border: 0;
    width: 300px;
}

.form-wrapper table td{
    padding: 5px 0;
}