.a{
   text-decoration: none;
}

.ul{
     list-style: none;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.primary-menu{
    background-color: rgb(15, 120, 15);

}

.primary-menu ul.menu{
   font-size: 0;
}

.primary-menu ul.menu > li{
    display: inline-block;
    position: relative;
}

.primary-menu ul.menu > li > a{
    
   
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}

.primary-menu a{
    color: #fff;
    font-size: 1rem;
    display: block;
     padding:5px 15px;
}

.primary-menu ul.menu li+li >  a{
    border-left: 1px solid bisque;
}

.primary-menu ul.menu > li:hover >  a{
    background-color: red;
    color: yellow;
}

.primary-menu ul.menu ul{
    display: none;
    background-color: blueviolet;
    position: absolute;
    min-width: 200px;
}

.primary-menu ul.menu ul li a{
border-bottom: 1px dotted #fff;
}

.primary-menu ul.menu ul li a:hover{
    background:red;
}

.primary-menu ul.menu > li:hover ul{
    display: block;
}